@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@import 'bootstrap-icons/font/bootstrap-icons.css';

@theme {
	--color-dark: #1b1b1b;
	--color-subDark: #222222;
	--color-light: #fafafa;
}
pre {
	font-family: 'JetBrains Mono', monospace;
}
button {
	cursor: pointer;
}
body {
	font-family: 'Minecraft';
}
